.weather-card {
  position: relative;
  width: 100%;
  // max-width: 900px;
  // height: 430px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(0, 0, 0, .18);
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
      rgba(37,140,255,.18),
      rgba(0,0,0,.15)
    );
}

.weather-content{
  position:absolute;
  inset:0;
  // padding:20px;
  display:flex;
  flex-direction:column;
  color:#fff;
}

.top-area{
  display:flex;
  justify-content:space-between;
  align-items:flex-start;
}

.location{
  font-size:15px;
  font-weight:600;

  i{
    margin-right:8px;
  }
}

.date{
  margin-top:1px;
  opacity:.9;
}

.weather-icon{
  width:50px;
}

.temp{
  margin-top:5px;
  font-size:50px;
  line-height:1;
  font-weight:700;

  span{
    font-size:45px;
    vertical-align:top;
  }
}

h4{
  // margin-top:10px;
  font-size:15px;
  font-weight:600;
  margin-bottom:0px;
}

p{
  font-size:20px;
  opacity:.95;
}

.weather-info{
  margin-top:auto;
  display:grid;
  grid-template-columns:repeat(5,1fr);
  background:rgba(0,0,0,.28);
  backdrop-filter:blur(12px);
  // border-radius:18px;
  padding:15px;
}

.info-box{
  text-align:center;

  i{
    font-size:15px;
    margin-bottom:6px;
    display:block;
  }

  small{
    display:block;
    opacity:.8;
    font-size:12px;
  }

  strong{
    display:block;
    margin-top:1px;
    font-size:15px;
  }
}

@media(max-width:768px){

  .weather-card{
    height:auto;
  }

  .weather-content{
    padding:20px;
  }

  .weather-icon{
    width:110px;
  }

  .temp{
    font-size:50px;
  }

  .weather-info{
    grid-template-columns:repeat(2,1fr);
    gap:20px;
  }

}