
.forecast-card{

    width:100%;
    // max-width:930px;

    background:#fff;

    border-radius:10px;

    overflow:hidden;

    box-shadow:
    0 10px 30px rgba(15,23,42,.08);
}

.forecast-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
     padding-top:10px;
    // padding:22px 28px;

    border-bottom:1px solid #edf1f7;
}

.forecast-header h3{

    font-size:16px;
    color:#1f2d5c;
    font-weight:700;
}

.forecast-header a{

    text-decoration:none;

    color:#5278ff;

    font-size:11px;
    font-weight:600;
}

.forecast-days{

    display:flex;
}

.day-card{

    flex:1;

    text-align:center;

    padding:10px 10px;

    border-right:1px solid #edf1f7;

    transition:.3s;
}

.day-card:last-child{

    border-right:none;
}

.day-card:hover{

    background:#fafcff;
}

.day{

    font-size:12px;

    font-weight:600;

    color:#2d3555;

    margin-bottom:10px;
}

.day-card img{
    width:30px;
    height:30px;
    object-fit:contain;
    margin-bottom:10px;
}

.day-card h4{

    font-size:15px;

    color:#2b3557;

    font-weight:700;
}